.inputContainer {
  padding: 5px;
  margin: 5px;
}

.labelOfInput {
  font-size: 18px;
  margin-bottom: 5px;
}

.customInput {
  width: 100%;
  min-height: 35px;
  border-radius: 8px;
  border-width: 0;
  margin-top: 5px;
  /* padding-left: 10px; */
}

select {
  width: 100%;
  /* padding-left: 10px; */
}

option {
    height: 40px !important;
    background-color: lightgray;
}
